*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    background:yellow ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    background-image: url(https://img.freepik.com/premium-vector/hand-holds-stopwatch-time-management-concept-countdown-stopwatch-timer-hand-vector-illustration-flat-style-deadline-punctuality-stop-time-competition-start-work-interval-control_435184-998.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
h1 {
    position: absolute;
    top: 40px; /* Adjust this value to move the heading higher or lower */
    left: 50%;
    transform: translateX(-50%); /* Center align the heading */
    font-size: 40px;
    color: rgb(69, 184, 204);
}

.container{
    background: rgb(69, 184, 204);
    padding:25px;
    width:450px;
    border-radius: 15px;
    text-align: center;
}
#stopwatchduration{
    font-size: 55px;
    color:black;
    padding: 20px;
}

.lapButtons{
    display:flex;
    justify-content: center;
    gap:100px;
}
.lapButtons button{
    height: 45px;
    width: 25%;
    border-radius:5px;
    background: yellow;
    border: none;
    outline: none;
    padding: 5px;
    margin:10px;
    cursor: pointer;
    font-size: 16px;
}

#laps{
    height:200px;
    padding:10px ;
    overflow: auto;   
}

#laps li{
    font-size: 22px;
    padding: 10px;
}

#stop,
#reset{
    background: red;
}